@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    /* overflow-x: hidden; */
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}