.content {
    display: flex;
    justify-content: center;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    gap: 1.5rem/* 24px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.infoMovie {
    width: 50%;
    margin: 4px 0;
}
.decription {
    width: 50%;
    margin: 4px 0;
}

@media only screen and (max-width : 600px)
  { 
    .content {
        display: block;
    }
    .infoMovie {
        width: 100%;
        margin: 8px 0;
    }
    .decription {
        width: 100%;
        margin: 8px 0;

    }
}